<h1>Student Dashboard</h1>
<section>
<table>
  <tbody>
    <aside>
    <tr><td>
      <% student = Student.find_by_id(session[:student_id]) %>
      <%= student.name %></td></tr>
    </aside>
    <article>
    <tr>
        <%= display_grades(Grade.get_assignments_for_student_email( student.student_email )) %>
    </tr>
  </article>
  </tbody>
</table>
</section>

<%= link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
