<h1>Teachers#index</h1>

<p>mooo</p>



<%= link_to 'Create new teacher', new_teacher_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>

<p>Find me in app/views/teachers/index.html.erb</p>
